[Desktop Entry]
Name=osu-lazer
GenericName=Stenography
Comment=osu-lazer stenotype engine
Icon=osu-lazer
Exec=osu-lazer
TryExec=osu-lazer
Terminal=false
Type=Application
Categories=Office;
