# Files mentioned in this file will be ignored by git
*.rpm
*.swp
*.tar.gz
*.tar.gz.asc
*.tar.bz2
*.tar.xz
*.tar.zst
*.tbz2
*.tgz
*.txz
*.zip
*.gem
*.7z
*.lz
*.pk3
*.run
*.Z
*.deb
*.jar
*~
.directory
*.phar
*.crate

# Temp hold.
audio/tauonmb/.gitignore
network/discord/.gitignore
network/telegram/.gitignore

# Better not overwritten.
academic/mathics/.gitignore
audio/sonata/.gitignore
business/trytond/.gitignore
development/alembic/.gitignore
development/conan/.gitignore
development/gnuradio/.gitignore
development/gr-osmosdr/.gitignore
development/pandas/.gitignore
games/Pyfa/.gitignore
games/pysolfc/.gitignore
gis/pytrainer/.gitignore
graphics/PyMOL/.gitignore
libraries/Impacket/.gitignore
libraries/Nevow/.gitignore
libraries/ZODB3/.gitignore
libraries/evernote-python/.gitignore
libraries/matplotlib/.gitignore
libraries/reportlab/.gitignore
misc/gourmet/.gitignore
misc/protobuf/.gitignore
network/Electrum-DASH/.gitignore
network/FireWorks/.gitignore
network/aldryn-client/.gitignore
network/deis/.gitignore
network/ftp-cloudfs/.gitignore
network/gajim/.gitignore
network/graphite-carbon/.gitignore
network/sabnzbd/.gitignore
office/calibre/.gitignore
office/djvusmooth/.gitignore
office/etmtk/.gitignore
office/nts/.gitignore
office/wammu/.gitignore
office/x_x/.gitignore
python/APScheduler/.gitignore
python/Automat/.gitignore
python/Kallithea/.gitignore
python/Parsley/.gitignore
python/Scrapy/.gitignore
python/aniso8601/.gitignore
python/asciimatics/.gitignore
python/astroid/.gitignore
python/asttokens/.gitignore
python/buildbot-slave/.gitignore
python/buildbot/.gitignore
python/dfvfs/.gitignore
python/euca2ools/.gitignore
python/flake8/.gitignore
python/foolscap/.gitignore
python/functools-lru-cache/.gitignore
python/git-fame/.gitignore
python/google-api-python-client/.gitignore
python/guessit/.gitignore
python/jaraco-packaging/.gitignore
python/jaraco.classes/.gitignore
python/odoo/.gitignore
python/optional-django/.gitignore
python/path.py/path./.gitignore
python/pathlib2/.gitignore
python/pelican/.gitignore
python/pendulum/.gitignore
python/plaso/.gitignore
python/pluggy/.gitignore
python/py/.gitignore
python/pybluez/.gitignore
python/pyjwt/.gitignore
python/pysnmp/.gitignore
python/python-argopt/.gitignore
python/python-keyring/.gitignore
python/python-webpack/.gitignore
python/python-xlib/.gitignore
python/pyusb/.gitignore
python/rst-linker/.gitignore
python/s3cmd/.gitignore
python/setuptools-scm-git-archive/.gitignore
python/tempora/.gitignore
python/testtools/.gitignore
python/tqdm/.gitignore
python/txi2p/.gitignore
python/txrequests/.gitignore
python/txsocksx/.gitignore
python/vobject/.gitignore
system/barman/.gitignore
system/docker-compose/.gitignore
system/isomd5sum/.gitignore
system/salt/.gitignore
system/uhd/.gitignore
system/volatility/.gitignore
