# Files mentioned in this file will be ignored by git
*.rpm
*.swp
*.tar.gz
*.tar.gz.asc
*.tar.bz2
*.tar.xz
*.tar.zst
*.tbz2
*.tgz
*.txz
*.zip
*.gem
*.7z
*.lz
*.pk3
*.run
*.Z
*.deb
*.jar
*~
.directory
*.phar
*.crate

# Temp hold.
audio/tauonmb/
network/discord/
network/telegram/

# Better not overwritten.
academic/mathics/
audio/sonata/
business/trytond/
development/alembic/
development/conan/
development/gnuradio/
development/gr-osmosdr/gr-/
development/pandas/
games/Pyfa/
games/pysolfc/
gis/pytrainer/
graphics/PyMOL/
libraries/Impacket/
libraries/Nevow/
libraries/ZODB3/
libraries/evernote-python/evernote-/
libraries/matplotlib/
libraries/reportlab/
misc/gourmet/
misc/protobuf/
network/Electrum-DASH/Electrum-/
network/FireWorks/
network/aldryn-client/aldryn-/
network/deis/
network/ftp-cloudfs/ftp-/
network/gajim/
network/graphite-carbon/graphite-/
network/sabnzbd/
office/calibre/
office/djvusmooth/
office/etmtk/
office/nts/
office/wammu/
office/x_x/
python/APScheduler/
python/Automat/
python/Kallithea/
python/Parsley/
python/Scrapy/
python/aniso8601/
python/asciimatics/
python/astroid/
python/asttokens/
python/buildbot-slave/buildbot-/
python/buildbot/
python/dfvfs/
python/euca2ools/
python/flake8/
python/foolscap/
python/functools-lru-cache/functools-lru-/
python/git-fame/git-/
python/google-api-python-client/google-api-python-/
python/guessit/
python/jaraco-packaging/jaraco-/
python/jaraco.classes/jaraco./
python/odoo/
python/optional-django/optional-/
python/path.py/path./
python/pathlib2/
python/pelican/
python/pendulum/
python/plaso/
python/pluggy/
python/py/
python/pybluez/
python/pyjwt/
python/pysnmp/
python/python-argopt/python-/
python/python-keyring/python-/
python/python-webpack/python-/
python/python-xlib/python-/
python/pyusb/
python/rst-linker/rst-/
python/s3cmd/
python/setuptools-scm-git-archive/setuptools-scm-git-/
python/tempora/
python/testtools/
python/tqdm/
python/txi2p/
python/txrequests/
python/txsocksx/
python/vobject/
system/barman/
system/docker-compose/docker-/
system/isomd5sum/
system/salt/
system/uhd/
system/volatility/
